*,
*::after,
*::before {
margin: 0;
color: #000;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 8em;
  height: 2.5em;
}

button:disabled {
  color: 'warn';
}

.full-width,
.flex-row {
  width: 100%;
}